{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour</h1>

    Bienvenue au Catalogue de fruits et legumes:
    <ul>
        <li><a href="{{ path("ajouter_produit") }}">Ajouter des produits</a></code></li>
        <li><a href="{{ path("commander_catalogue") }}">Commander des produits</a></code></li>
    </ul>
</div>
{% endblock %}
